<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resize Image</title>
</head>
<body>
    <h1>Upload Image to Resize</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>{{ form.image.label }} {{ form.image() }}</p>
        <p>{{ form.scale.label }} {{ form.scale() }}</p>
        <p>{{ form.recaptcha() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
